@import 'mixins';
@import 'sidebar';
@import 'tabs_container';
@import 'browser';
@import 'footer';
@import 'vendors';
@import 'mobile';

.console-container {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
  border: 1px solid #dadada;
  @include display-flex();
  @include flex-flow(column);
  box-sizing: border-box;
  background: #ffffff;

  * {
    box-sizing: border-box;
  }

  a img {
    border: none;
  }

  .hidden {
    display: none;
  }

  .console-floating-actions {
    position: absolute;
    left: auto;
    right: 0;
    top: 34px;
    z-index: 99;
    padding: 20px;
    display: block;
    transition: all .7s ease;

    &.full-screen {
      top: 0;
    }

    .console-container-button {
      display: block;
      width: 37px;
      height: 37px;
      line-height: 37px;
      border: solid 1px #dadada;
      border-radius: 50%;
    }

    > * {
      opacity: 0;
      transition: opacity .7s ease;
    }

    &:hover > * {
      opacity: 1;
    }
  }

  .console-modal-overlay {
    position: absolute;
    left: 50%;
    right: 0;
    top: 34px;
    bottom: 0;
    border-left: 1px solid #dadada;
    background: #ffffff;
    z-index: 99;
    padding: 20px;
    display: none;

    &.visible {
      display: block;
    }

    .console-modal-title {
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0;
      color: #9e9e9e;
    }

    .console-modal-content {
      height: 90%;
      overflow: auto;
    }

    .console-libraries-list {
      font-size: 14px;
      list-style: none;
      margin: 0;
      padding: 0;

      .console-libraries-list-title {
        font-weight: bold;
      }

      .console-libraries-list-value {
        margin-left: 15px;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }

  .console-container-button {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    text-decoration: none;
    color: #867F7F;
    font-size: 13px;
    position: relative;
    cursor: pointer;

    &.hidden {
      display: none;
    }

    &.with-border {
      border-right: 1px solid #dadada;
    }

    &.with-plus:after {
      content: "\f067";
      position: absolute;
      bottom: 8px;
      right: 4px;
      width: 8px;
      height: 8px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 10px;
      font-weight: bold;
      color: #000000;
    }

    &.with-caret.active {
      height: 33px;
      line-height: 32px;
    }

    &.with-caret:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      margin-left: 5px;
      color: #333333;
      font-size: 0.95em;
    }

    &:hover {
      background: #e3e3e3;
    }
  }

  .console-container-wrapper {
    width: 100%;
    height: 100%;
    min-height: 300px;
    @include display-flex();
    @include flex-direction(column);
    position: relative;
  }

  .console-wrapper {
    width: 100%;
    @include display-flex();
    @include flex(1 auto);
    @include flex-flow(row wrap);
    position: relative;
  }

  .console-sidebar-container,
  .console-tabs-container {
    @include flex(1);
    @include display-flex();
    @include flex-flow(column);
  }
}