@import 'mixins';
@import 'sidebar';
@import 'tabs_container';
@import 'footer';

.console-container {
  width: 100%;
  position: relative;
  min-height: 300px;
  font-family: 'PT Sans', Helvetica Neue, Arial, sans-serif;
  border: 1px solid #dadada;
  @include display-flex();
  @include flex-flow(column wrap);
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .hidden {
    display: none;
  }

  .console-modal-overlay {
    display: none;
  }

  .console-container-button {
    display: inline-block;
    height: 33px;
    line-height: 33px;
    padding: 0 12px;
    text-decoration: none;
    color: #867F7F;
    font-size: 13px;
    position: relative;
    cursor: pointer;

    &.with-border {
      border-right: 1px solid #dadada;
    }

    &.with-plus:after {
      content: "\f067";
      position: absolute;
      bottom: 8px;
      right: 4px;
      width: 8px;
      height: 8px;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 10px;
      font-weight: bold;
      color: #000000;
    }

    &.with-caret.active {
      // height: 33px;
      line-height: 33px;
    }

    &.with-caret:after {
      content: "\f0d7";
      font: normal normal normal 14px/1 FontAwesome;
      margin-left: 5px;
      color: #333333;
      font-size: 0.95em;
    }

    &:hover {
      background: #e3e3e3;
    }
  }

  .console-wrapper {
    width: 100%;
    @include flex(1 100%);
    @include display-flex();
    @include flex-flow(row wrap);
  }

  .console-sidebar-container,
  .console-tabs-container {
    @include flex(1);
    @include display-flex();
    @include flex-flow(column);
  }
}