@import 'colors';

.console-container {
  .console-footer {
    background: $nav-background;
    border-top: solid 1px $border-color;
    height: 30px;
    font-size: 12px;
    overflow: visible;
    transition: all .7s ease;
    color: #999999;

    &.collapsed {
      height: 0;
      overflow: hidden;
      border-top-width: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      vertical-align: middle;
    }

    > * {
      display: inline-block;
      height: 29px;
      line-height: 29px;
      vertical-align: middle;
    }

    .console-brand {
      text-align: center;
      border-right: solid 1px $border-color;

      img {
        display: block;
        height: 100%;
        padding: 5px;
        margin: 0 auto;
      }
    }

    .console-footer-permanent-status {
      margin-left: 10px;
      margin-right: 10px;
    }

    .console-footer-users-label {
      margin-right: 10px;
    }

    .console-footer-users-wrapper {
      position: relative;
      cursor: pointer;
      font-size: 0;

      > * {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
      }

      .user-color {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 8px;
      }
    }

    .console-footer-user {
      padding: 0 10px;
    }

    .console-footer-users-list {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      bottom: 30px;
      z-index: 101;
      background: #ffffff;
      border: solid 1px #b3b3b3;
      border-bottom: solid 1px #ffffff;
      width: 100%;
      text-align: left;

      &.visible {
        display: block;
      }
    }

    .console-footer-status {
      max-width: 40%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .console-footer-progress {
      display: none;
      width: 30%;
      max-width: 200px;
      float: right;
      margin-top: 0;
      margin-right: 5px;

      &.visible {
        display: block;
      }
    }
  }
}