.console-container {
  .console-tabs-container {
  }

  #toggle-sidebar {
    width: 41px;
    text-align: center;
  }

  .console-tabs {
    // font-family: 'latolight';
    font-size: 11px;
    background: #f7f7f7;
    border-bottom: solid 1px #dadada;
    overflow: visible !important;
    text-align: left;
    @include display-flex();
    // height: 34px;

    .console-container-button:hover,
    .console-container-button.active {
      color: #000000;
      background: #ffffff;
    }
  }

  .console-options {
    display: none;
    margin: 0;
    padding: 0;
    width: 200px;
    // padding-top: 1px;
    list-style: none;
    font-size: 14px;
    position: absolute;
    z-index: 616;
    right: 0;
    top: 34px;
    background: #fff;
    text-align: left;
    border-left: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

    a {
      text-decoration: none;
      color: #333333;
      cursor: pointer;
    }

    &.visible {
      display: block;
    }

    > * {
      font-size: 14px;
      line-height: 15px;
      padding: 8px 15px;
      display: block;

      &:hover {
        background: #a29c9c;
        color: #ffffff;
      }
    }
  }

  .console-tabs-left {
    min-width: 50%;
    border-right: solid 1px #dadada;
    @include flex-grow(1);

    .viewport,
    .overview {
      min-width: 100%;
      @include flex-grow(0);
      @include display-flex();
      @include flex-flow(row);
      overflow: auto;
      @include scrolling-shadows($background-color: #f7f7f7);
    }

    &.scrollable {
      @include flex-grow(0);
      @include display-flex();
      @include flex-flow(row);
      overflow: auto;
      @include scrolling-shadows($background-color: #f7f7f7);
    }

    .viewport {
      height: 33px;
      overflow: hidden;
      position: relative;
    }

    .overview {
      list-style: none;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 0;
      margin: 0;
      transition: left .65s ease;
    }

    .scrollbar {
      background: transparent;
      position: absolute;
      background-position: 0 0;
      float: right;
      width: 0;
      height: 2px;
      z-index: 101;
      bottom: 0;
      opacity: 0;
      transition: all .5s;
    }

    .track {
      background: #dadada;
      height: 100%;
      width: 0;
      position: relative;
      padding: 0 1px;
    }

    .thumb {
      background: #424242;
      height: 4px;
      width: 0;
      cursor: pointer;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: -5px;
      border-radius: 4px;
    }

    .thumb .end {
      display: none;
    }

    .disable {
      display: none;
    }
  }

  /* Tiny Scrollbar */
  .console-tabs-left {
    position: relative;

    &:hover {
      .scrollbar {
        opacity: 1;
      }
    }
  }

  .console-tabs-right {
    @include flex-grow(0);
    @include display-flex();
    @include flex-flow(row);
    margin-left: 0;
    @include justify-content(flex-end);

    > * {
      border-left: solid 1px #dadada;
    }
  }

  .console-tab {
    display: inline-block;
    min-width: 90px;
    max-width: 90px;
    // height: 34px;
    line-height: 32px;
    padding: 0px 15px;
    border-right: solid 1px #dadada;
    outline: none;
    text-decoration: none;
    color: #111111;
    @include flex(1);

    input.console-tab-text {
      display: none;
    }

    &.closeable {
      min-width: 110px;
      max-width: 110px;
    }

    &.edit-mode {
      input.console-tab-text {
        display: inline-block;
      }

      span.console-tab-text {
        display: none;
      }
    }

    &:last-child {
      border-right: none;
    }

    &.active,
    &:hover {
      background: #ffffff;
      color: #222524;
      position: relative;

      &:after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(39, 112, 174, .81);
        z-index: 101;
      }
    }

    .console-tab-text {
      display: inline-block;
      width: 60px;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
    }

    .console-tab-close {
      display: inline-block;
      width: 16px;
      height: 16px;
      line-height: 17px;
      text-align: center;
      vertical-align: baseline;
      color: #d3d3d3;
      margin: 0;
      opacity: 1;
      border-radius: 16px;
    }

    &:hover .console-tab-close {
      color: #111111;
      // background: #d3d3d3;
    }
  }

  .console-tabpages {
    @include display-flex();
    @include flex(1 100%);
    @include flex-direction(column);
    height: 100%;
    position: relative;

    &.empty:before {
      content: "Create or open a file from the sidebar";
      position: absolute;
      top: calc(50% - 40px);
      left: 0;
      right: 0;
      text-align: center;
      padding: 20px;
      color: #ababab;
      text-align: center;
    }
  }

  .console-tabpage {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    @include flex(1 100%);
    box-shadow: none;

    &.active {
      display: block;
    }

    &.active.console-browser {
      @include display-flex();
      @include flex(1 100%);
      @include flex-direction(column);
    }

    &.console-editor {
      position: relative;
    }
  }
}