{
  "env": {
    "node": 1,
    "browser": 1,
    "commonjs": 1,
    "jquery": 1
  },
  "ecmaFeatures": {
    "jsx": 1
  },
  "rules": {
    "curly": 1,
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "camelcase": 1,
    "eqeqeq": 1,
    "new-cap": 1,
    "strict": [1, "global"],
    "no-irregular-whitespace": 1,
    "valid-typeof": 1,
    "no-loop-func": 0,
    "no-invalid-this": 0
  }
}