.codebasket-browser-navigation {
  @extend %box-reset;
  overflow: hidden;
  border-bottom: 1px solid $border-color;

  > * {
    display: block;
    float: left;
    @extend %menu-item;
    border-top: 0;
    border-bottom: 0;

    &:last-child {
      border-right: 0;
    }
  }

  > button,
  > a {
    width: $header-height - 3px;
    background: $light-background;

    &:before {
      @extend %icon-container;
    }
  }

  > input[type="url"] {
    width: calc(100% - 64px);
    padding: 0 5px;
    height: $header-height - 2px;
    cursor: inherit;
  }
}

.codebasket-browser > iframe {
  display: block;
  width: 100%;
  height: calc(100% - #{$header-height - 1px});
}