.codebasket-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: $footer-height;
  background: $light-background;
  border-top: 1px solid $border-color;
  line-height: 1;

  > * {
    @extend %box-reset;
    display: block;
    float: left;
    height: $footer-height;
    font-size: 12px;
  }

  > span {
    padding: 8px 20px;
    color: #999999;
  }

  .codebasket-brand {
    width: $sidebar-width;
    padding: 5px;
    text-align: center;
    border-right: 1px solid $border-color;

    img {
      margin: auto;
      max-width: 200px;
      height: $footer-height - 10px;
    }
  }

  .codebasket-dropdown {
    > span {
      display: block;
      padding: 8px 20px;
      color: #999999;
    }

    > .codebasket-dropdown-list {
      display: none;
      position: absolute;
      bottom: 30px;
      list-style: none;
      margin: 0;
      padding: 0;
      background: $light-background;
      border: solid 1px $border-color;
      z-index: 10;

      > li {
        padding: 8px;
      }

      &.opened {
        display: block;
      }
    }
  }

  .codebasket-progress {
    display: none;
    width: 30%;
    max-width: 200px;
    height: 29px;
    line-height: 29px;
    vertical-align: middle;
    border: none;
    float: right;
    margin-top: 0;
    margin-right: 5px;

    &.visible {
      display: inline-block;
    }
  }
}