@media screen and (max-width: 768px) {
  @keyframes pulse {
    0%   { color: #ccc;}
    100% { color: #666;}
  }
  .codebasket-content {
    left: 0px;
    width: 100%;
  }
  .codebasket-sidebar {
    width: 200px;
  }
  .codebasket-toggle-sidebar {
    transition: left .3s ease-in-out;
    z-index: 9!important;
  }
  .icon-show-sidebar {
    position: absolute;
    left: 0px;
    &:before {
      animation: pulse 1s ease-in-out infinite alternate;
    }
  }
  .icon-hide-sidebar{
    position: absolute;
    left: 200px;
    box-shadow: 0 0 5px #000;
  }
}