
@media screen and (max-height: 768px) and (max-width: 1024px) {
  $touchSize: 48px;
  // FINDER and NAVBAR
  .codebasket-navbar{
    height: $touchSize;
  }
  .codebasket-main .navbar-button,
  .codebasket-main .navbar-button.codebasket-toggle-sidebar{
    width: $touchSize;
    height: $touchSize - 1;
    font-size: 18px;
  }
  .codebasket-main .navbar-button.codebasket-toggle-sidebar {
    height: $touchSize;
  }
  // CONTENT and TABS
  .codebasket-sidebar .codebasket-sidebar-content,
  .codebasket-viewport .codebasket-tabpage {
    top: $touchSize;
  }
  .codebasket-viewport .codebasket-tabpage {
    height: calc( 100% - #{$touchSize} );
  }
  // MODAL CONTENT
  .codebasket-aside-content, 
  .codebasket-options-list{
    top: $touchSize - 1;
  }
  // TABS
  .codebasket-viewport.full .codebasket-navbar {
    margin-left: $touchSize;
  }
  .codebasket-navbar .navbar-tab,
  .codebasket-navbar .navbar-touch .navbar-tab {
    height: $touchSize;
  }
  .codebasket-items-list {
    li .codebasket-item-name {
      padding: 6px;
      font-size: 14px;
    }    
    li::after {
      top: 5px;
    }
    li.codebasket-item-terminal::after {
      top: 5px;
    }
    .codebasket-item-folder .codebasket-item-actions, 
    .codebasket-item-file .codebasket-item-actions {
      padding: 5px 0;
      right: 0px;
      opacity: 0.1;
      .icon {
        padding: 6px 8px;
        font-size: 15px;
        color: white;
        &.edit {
          background: #65c0e5;
        }
        &.delete {
          background: #f33b37;
        }
      }
    }
    .codebasket-list-title {
      padding: 5px;
      .codebasket-item-actions{
        opacity: 1;
        padding: 0;
        span {
          padding: 5px;
          display: block;
        }
      }
    }
    .codebasket-item-folder.closed {
      height: 36px;
    }
  }
}

@media screen and (max-width: 768px) {
  .codebasket-sidebar {
    width: 200px;
  }
  .codebasket-content {
    left: 200px;
    width: calc(100% - 200px);
  }
  .codebasket-footer .codebasket-brand {
    width: 200px;
  }
  .codebasket-items-list li .codebasket-item-name{
    max-width: 120px;
  }
}

@media screen and (max-width: 480px) {
  @keyframes pulse {
    0%   { color: #ccc;}
    100% { color: #666;}
  }
  .pulse {
    &:before {
      animation: pulse 1s ease-in-out infinite alternate;
    }
  }
  .codebasket-content {
    left: 0px;
    width: 100%;
  }
  .codebasket-main .navbar-button.codebasket-toggle-sidebar{
    transition: left .3s ease-in-out;
    z-index: 19;
  }
  .icon-show-sidebar {
    position: absolute;
    left: 0px;
  }
  .icon-hide-sidebar{
    position: absolute;
    left: 200px;
    box-shadow: 0 0 3px #333;
  }
}