
@media screen and (max-height: 768px) and (max-width: 1024px) {
  $touchSize: 48px;
  // FINDER and NAVBAR
  .codebasket-navbar {
    height: $touchSize;
  }
  .codebasket-main .navbar-button,
  .codebasket-main .navbar-button.codebasket-toggle-sidebar{
    width: $touchSize;
    height: $touchSize - 1;
    font-size: 18px;
  }
  .codebasket-main .navbar-button.codebasket-toggle-sidebar {
    height: $touchSize;
  }
  // CONTENT and TABS
  .codebasket-sidebar .codebasket-sidebar-content,
  .codebasket-viewport .codebasket-tabpage {
    top: $touchSize;
  }
  .codebasket-viewport .codebasket-tabpage {
    height: calc( 100% - #{$touchSize} );
  }
  // MODAL CONTENT
  .codebasket-aside-content, 
  .codebasket-options-list{
    top: $touchSize - 1;
  }
  // TABS
  .codebasket-viewport.full .codebasket-navbar {
    margin-left: $touchSize - 1;
  }
  .codebasket-navbar .navbar-tab,
  .codebasket-navbar .navbar-touch .navbar-tab {
    height: $touchSize;
  }
}

@media screen and (max-width: 768px) {
  .codebasket-sidebar {
    width: 200px;
  }
  .codebasket-content {
    left: 200px;
    width: calc(100% - 200px);
  }
  .codebasket-footer .codebasket-brand {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  @keyframes pulse {
    0%   { color: #ccc;}
    100% { color: #666;}
  }
  .pulse {
    &:before {
      animation: pulse 1s ease-in-out infinite alternate;
    }
  }
  .codebasket-content {
    left: 0px;
    width: 100%;
  }
  .codebasket-toggle-sidebar {
    transition: left .3s ease-in-out;
    z-index: 9!important;
  }
  .icon-show-sidebar {
    position: absolute;
    left: 0px;
  }
  .icon-hide-sidebar{
    position: absolute;
    left: 200px;
    box-shadow: 0 0 3px #333;
  }
}