.codebasket-navbar {
  @extend %menu-structure;
  width: 100%;
  border-right: 0;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;

  &.codebasket-navbar-global {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    z-index: 2;
    border-left: 0;

    .navbar-button {
      border-left: 1px solid $border-color;
      border-right: 0;
    }
  }

  .navbar-tab-title {
    padding: 10px;
    font-size: 12px;
    font-weight: 100;
    color: #999999;
    max-width: 115px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }

  .navbar-tab-close {
    margin-right: 10px;
    transform: translateY(-2px);
  }

  .navbar-tab {
    white-space: nowrap;
    &:hover {
      background: #eee;
    }
    > * {
      display: inline-block;
      vertical-align: middle;
    }
    &.active {
      box-shadow: 0 0 2px white;
      border-bottom: 3px solid $blue-light;
      .navbar-tab-title {
        color: #666;
        font-weight: 400;
      }
    }
  }

  .codebasket-options-list {
    font-size: 14px;
  }

  &.touch {
    .nabvar-placeholder {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
      width: 100%;
      background: #f5f5f5;
      height: 48px;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
      font-size: auto;
    }
    .navbar-touch {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      display: block;
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      z-index: 10;
      width: calc(100% + 2px);
      list-style: none;
      background: #f5f5f5;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      height: 0;
      overflow: hidden;
      transition: height .3s ease-in-out;
      border-radius: 0 0 5px 5px;
      &.opened{
        top: 48px;
        height: auto;
        max-height: 280px;
        overflow-y: scroll;
      }
      .navbar-tab{
        width: 100%;
        border-right: 0;
        border-top: 1px solid white;
      }
    }
    .nabvar-placeholder, 
    .navbar-touch {
      .navbar-tab-title {
        display: block;
        padding: 19px 10px;
        max-width: calc( 100% - 70px);
        text-overflow: ellipsis;
        white-space: pre;
      }
      .navbar-tab-close {
        display: inline-block;
        margin-right: 0;
        margin-top: 4px;
        transform: none;
        padding: 15px;
        float: left;
      }
    }
    .navbar-tab-toggler {
      position: absolute;
      z-index: 10;
      padding: 15px;
      top: 0;
      right: 0;
      font-size: 15px;
      color: black;
      cursor: pointer;
      &:before {
        font-family: 'codebasket';
        content: 'n';
      }
    }
    .navbar-tab-toggler.opened:before {
      content: 'o';
    }
  }
}

.codebasket-main {

  .navbar-button, 
  .navbar-tab,
  .nabvar-placeholder{
    @extend %menu-item;
    .icon-close,
    &.icon-arrow-down:before {
      font-size: 10px;
    }
    .icon-close {
      color: #ccc;
      &:hover {
        color: $red;
      }
    }

  }

  .navbar-button {
    width: $header-height - 2px;

    &:before {
      font-family: 'codebasket';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      color: #ccc;
    }

    &:hover {
      background: #eee;

      &:before {
        color: #444;
      }
    }

    &.active:before {
      color: $blue;
    }

    &.split-vertical:before {
      content: "◫";
      font-size: 28px;
    }

    &.split-horizontal:before {
      content: "⊟";
      font-size: 22px;
      top: 46%;
    }

    &.codebasket-toggle-sidebar {
      height: $header-height - 1;
      background: #ffffff;
      border-left: 0;
      border-bottom: 1px solid $border-color;
      z-index: 1;
    }

    &.toggle-extra-tabs {
      width: 24px;
      border-right: 1px solid $border-color;
    }
  }
}

.codebasket-options-list {
  right: $header-height - 2;
  top: calc(#{$header-height} - 1px);
  padding: 1px;
  width: calc(#{$sidebar-width} / 2);
  box-shadow: 0 2px 4px $border-color;
  border-radius: 5px 0 5px 5px;
  background: #ffffff;
  overflow: auto;
  opacity: 0;
  z-index: -1;
  visibility: collapse;

  &.opened {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }

  li {
    display: block;
    color: #666;
    padding: 10px;
    cursor: pointer;
    padding-left: 15px;

    &.active:before {
      content: "●";
      color: $blue-light;
      position: absolute;
      left: 4px;
    }

    &:hover {
      background: #eee;
      color: #888;

      .icon{
        color: $blue;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .navbar-tab-title {
      display: inline-block;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      font-size: 12px;
      color: #999;
    }

    .navbar-tab-close {
      float: right;
      width: auto;
    }
  }
}