@import 'typography';

.codebasket-sidebar {
  top: 0px;
  left: - $sidebar-width;
  width: $sidebar-width;
  border-right: 1px solid $border-color;
  transition: left .3s ease-in-out;

  &.visible {
    left: 0;
  }

  &.empty:before {
    font-family: "codebasket";
    font-size: 40px;
    content: "A";
    position: absolute;
    top: calc(50% - 40px);
    text-align: center;
    padding: 0;
    color: #e6e6e6;
    width: 100%;
  }

  &.empty:after {
    font-size: 1em;
    font-weight: 100;
    content: "Create your files and folders or drop them here from your local machine";
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 20px;
    color: #999999;
  }

  &.loading {}

  .codebasket-navbar {
    border-left: 0;
    border-right: 0;
  }

  .codebasket-sidebar-content {
    @extend %basic-box;
    left: 0;
    top: $header-height;
    bottom: 0;
    right: 0;
    overflow: scroll;
    font-size: 14px;
    padding: 15px 2px;

    > .codebasket-items-list {
      margin-bottom: 20px;
    }
  }
}

.codebasket-items-list {
  @extend %box-reset;
  width: 100%;
  line-height: 1.8em;
  transition: background-color .3s ease-in-out;

  &.dragover {
    cursor: copy;
    background: $blue-light-hover;
  }

  .codebasket-list-title {
    font-weight: 900;
    padding: 0 5px;
    &:hover {
      background: none;
    }
  }

  > li {
    @extend %box-reset;
    display: block;
    width: 100%;
    padding: 0 15px;

    &:after {
      position: absolute;
      top: 0px;
      left: 5px;
    }

    &:hover {
      background: #f5f5f5;

      > .codebasket-item-actions {
        opacity: 1;
      }
    }

    .codebasket-item-name {
      @extend %box-reset;
      display: block;
      padding: 0 5px;
      color: #444;
      font-weight: 100;
      cursor: pointer;
    }

    &.codebasket-search {
      @extend %box-reset;
      display: block;
      margin-bottom: 15px;
      padding: 0 5px;

      &:before {
        font-family: 'codebasket';
        content: 'J';
        position: absolute;
        top: 2px;
        left: 12px;
        z-index: 1;
        color: #ccc;
      }

      input {
        @extend %box-reset;
        display: block;
        border-radius: 5px;
        padding: 5px 5px 5px 27px;
        width: 100%;
        border: 1px solid #eee;
        font-size: .9em;
        font-weight: 100;
      }
    }
  }

  .codebasket-item-actions {
    position: absolute;
    top: 0;
    right: 5px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
    span {
      font-size: .8em;
    }
    .icon {
      font-family: 'codebasket';
      font-size: .8em;
      margin-left: 5  px;
      border-radius: 3px;
      padding: 3px;
      width: 12px;
      display: inline-block;
      text-align: center;
      &.delete {
        color: $red;
        &:hover {
          background: $red-hover;
        }
      }
      &.edit {
        color: $blue;
        &:hover {
          background: $blue-hover;
        }
      }
      &:hover {
        color: white;
      }
    }
  }

  .codebasket-item-terminal {
    &:after {
      content: '■';
      color: #ccc;
      top: -1px;
    }

    &:hover {
      &:after {
        color: #999;
      }
    }
  }

  .codebasket-item-file {
    &:after {
      content: '●';
      color: #ccc;
    }

    &:hover {
      &:after {
        color: #999;
      }
    }

    &.opened {
      &:after {
        color: $blue-light;
      }

      &:hover {
        &:after {
          color: $blue-light-hover;
        }
      }
    }

    &.active {
      background: #eee;

      &:after {
        color: $blue-dark;
      }

      &:hover {
        &:after {
          color: $blue-dark-hover;
        }
      }
    }

    &.unsaved {
      &:after {
        color: $yellow;
      }

      &:hover {
        &:after {
          color: $yellow-hover;
        }
      }
    }
  }

  .codebasket-item-folder {
    padding-right: 0px;
    transition: background-color .3s ease-in-out;

    &:after {
      font-family: 'codebasket';
      font-size: .6em;
      color: #aaa;
    }

    &.active {
      background: #eee;
    }

    &.opened {
      &:after {
        content: 'b';
      }
    }

    &.closed {
      overflow: hidden;
      height: 25px;

      &:after {
        content: 'a';
      }
    }

    &.dragover {
      cursor: copy;
      background: $blue-light-hover;
    }

    .codebasket-item-name {
      position: relative;
      display: block;
    }
  }
}