$black: #000000;
$blue: #0277bd;
$blue400: #42a5f5;
$blue600: #1e88e5;
$blue700: #1976d2;
$blue-grey700: #455a64;
$blue-grey800: #37474f;
$blue-grey900: #263238;
$green: #4caf50;
$green300: #81c784;
$green400: #66bb6a;
$green500: #4caf50;
$green600: #43a047;
$green700: #388e3c;
$green800: #2e7d32;
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey400: #bdbdbd;
$grey500: #9e9e9e;
$grey800: #424242;
$orange500: #ff9800;
$orange600: #fb8c00;
$orange800: #ef6c00;
$purple: #9c27b0;
$purple300: #ba68c8;
$purple400: #ab47bc;
$purple700: #7b1fa2;
$red400: #ef5350;
$red500: #f44336;
$red800: #c62828;
$teal300: #4db6ac;
$teal400: #26a69a;
$teal500: #009688;
$teal600: #00897b;
$white: #ffffff;
$yellow600: #fdd835;

$border-color: #b3b3b3;
$nav-background: #f5f5f5;