@font-face {
  font-family: 'codepicnic';
  src:    url('fonts/codepicnic.eot?xilzpx');
  src:    url('fonts/codepicnic.eot?xilzpx#iefix') format('embedded-opentype'),
      url('fonts/codepicnic.ttf?xilzpx') format('truetype'),
      url('fonts/codepicnic.woff?xilzpx') format('woff'),
      url('fonts/codepicnic.svg?xilzpx#codepicnic') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codepicnic' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-private:before {
  content: "\e93f";
}
.icon-public:before {
  content: "\e940";
}
.icon-sign-up:before {
  content: "\e941";
}
.icon-streaming:before {
  content: "\e942";
}
.icon-sign-in:before {
  content: "\e93d";
}
.icon-sign-out:before {
  content: "\e93e";
}
.icon-save:before {
  content: "\e93c";
}
.icon-arrow-down:before {
  content: "\e938";
}
.icon-arrow-up:before {
  content: "\e939";
}
.icon-compress:before {
  content: "\e93a";
}
.icon-expand:before {
  content: "\e93b";
}
.icon-delete:before {
  content: "\e935";
}
.icon-edit:before {
  content: "\e936";
}
.icon-back:before {
  content: "\e937";
}
.icon-wallet:before {
  content: "\e934";
}
.icon-hide-sidebar:before {
  content: "\e92b";
}
.icon-show-sidebar:before {
  content: "\e930";
}
.icon-option-download:before {
  content: "\e925";
}
.icon-option-fork:before {
  content: "\e926";
}
.icon-option-github:before {
  content: "\e927";
}
.icon-placeholder-download:before {
  content: "\e928";
}
.icon-play:before {
  content: "\e929";
}
.icon-refresh:before {
  content: "\e92a";
}
.icon-info:before {
  content: "\e92c";
}
.icon-new-file:before {
  content: "\e92d";
}
.icon-new-folder:before {
  content: "\e92e";
}
.icon-option-configure:before {
  content: "\e92f";
}
.icon-cog:before {
  content: "\e931";
}
.icon-close-2:before {
  content: "\e932";
}
.icon-codepicnic-logo:before {
  content: "\e933";
}
.icon-add:before {
  content: "\e923";
}
.icon-browser:before {
  content: "\e924";
}
.icon-codepicnic:before {
  content: "\e921";
}
.icon-help:before {
  content: "\e922";
}
.icon-placeholder-flavor:before {
  content: "\e920";
}
.icon-placeholder-search:before {
  content: "\e91f";
}
.icon-forks:before {
  content: "\e91d";
}
.icon-stats:before {
  content: "\e91e";
}
.icon-settings:before {
  content: "\e91a";
}
.icon-card:before {
  content: "\e918";
}
.icon-profile:before {
  content: "\e919";
}
.icon-dashboard:before {
  content: "\e917";
}
.icon-typewriter:before {
  content: "\e916";
}
.icon-docs:before {
  content: "\e915";
}
.icon-menu:before {
  content: "\e914";
}
.icon-multidevice:before {
  content: "\e913";
}
.icon-personalize:before {
  content: "\e91b";
}
.icon-embed:before {
  content: "\e91c";
}
.icon-coffee:before {
  content: "\e911";
}
.icon-module:before {
  content: "\e912";
}
.icon-placeholder-github:before {
  content: "\e90d";
}
.icon-placeholder-paste:before {
  content: "\e90e";
}
.icon-placeholder-settings:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-placeholder-email:before {
  content: "\e90b";
}
.icon-placeholder-password:before {
  content: "\e90c";
}
.icon-circle-facebook:before {
  content: "\e908";
}
.icon-circle-github:before {
  content: "\e909";
}
.icon-circle-twitter:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e907";
}
.icon-console:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e901";
}
.icon-file:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-people:before {
  content: "\e904";
}
.icon-share:before {
  content: "\e905";
}
.icon-time:before {
  content: "\e906";
}